/*body{
    overflow: hidden;
    
}*/
*{
    font-family: poppins;
    padding: 0%;
    margin: 0%;
}

a{
	text-decoration: none;
    color: black;
}


.map{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    position: absolute;
    z-index: 0;
}

.locall1{display:none;}

.btn-abrir-menu1{
    align-self:end;
    font-size:50px;
    color: black; 
    display:none;

}
.menu-mobile1{
    display:none;
}
.desktop ul li a{
    list-style-type:none;
    text-decoration:none;
} 
.desktop nav ul li{
    display:inline-block;
    padding:0 40px;
}
.desktop li a{
    color:black;
}
.desktop{
    display:flex;
    justify-content: space-between;
    background-color: white;
    width:100%;
    padding:10px;
    align-items:center;
}

.topo{

    display:flex;
    justify-content:space-between;
    
}
.menu-mobile1{
    display:none;
    z-index: 10;
}

.locall1{
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 575px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    text-align:center;
    background: #14cc1c;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}

.cards{
    margin-top:30px;
}

.cards1 img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.cards1{
    margin-top:30px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    margin: 0px 20px 80px 30px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    box-shadow: rgba(1, 58, 11, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border: 1px solid rgba(18, 19, 18, 0.068);
    transition: 500ms linear;
    overflow-y: hidden;
}



.cards1 h1{
    color: #14CC1C;
    font-weight: 700;
}

.cards1 p{
    margin: 10px 20px 40px 20px;
    font-weight: 1000;
    font-size: 1rem;

}



.cards1 a{
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background-color: #14CC1C;
    border-radius: 10px;
    color: white;
}
.cards1 a:hover{
    transform: scale(1.1);

}   

.pesq{
    margin-top:30px;
    font-weight:1000;
    
}
.sidebar {
    border: solid 8px rgba(59, 52, 52, 0.699);
    border-radius: 20px;
    margin-top: 10px;
    width: 500px;
    background-color: #ffffff;
    color: white;
    padding: 20px;
    position: fixed;
    height: 84%;
    overflow-y: auto; /* Permite rolagem vertical se o conteúdo exceder a altura da sidebar */
    overflow:auto;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: rgb(87, 87, 87);
}

.content {
    margin-left: 250px; /* Espaço para a sidebar */
    padding: 20px;
    flex: 1;
}

.pesq5{
    height: 40px;
    font-weight: 1000;
    margin-left: 5px;
    width: 700px;
    padding-left: 10px;
    border-radius: 5px;
}

.color-button {
    background-color: #000000; /* Cor padrão do botão */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.color-button:hover {
    background-color: #0056b3; /* Cor quando o mouse está sobre o botão */
}

.color-button:active {
    background-color: #000000; /* Cor quando o botão é clicado */
    transform: scale(0.98); /* Leve diminuição do botão ao ser clicado */
}









.rec{
    color: #000000;
    text-align: center;
    margin:20px;
}
.descri{
    color: #000000;
}

@media(max-width: 800px){
    .map{
        max-width: 100%;
        height: 600px;
        position: absolute;
        z-index: 0;
        /*z-index:98;*/
    }

    .locall1{
        max-width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1;
        border:solid 8px rgba(59, 52, 52, 0.699);
        color:white;
        background-color:white;
        overflow:hidden;
    }
    .locall1 a{
        background:#14CC1C;
        padding:10px 70px 10px 70px;
        border-radius:10px;
        display:flex;
        justify-content:center;
        width:10px;
        align-items:center;
        margin-left:114px;
        margin-top:37px;
        color:white;
    }
    .locall1 p{
        color:black;
    }
    .locall1 h1{
        color:#14CC1C;
    }
    .cards2 img{
        width: 100%;
        height: 250px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    
    .cards2{
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        margin: 0px 20px 80px 20px;
        background-color: rgb(255, 255, 255);
        max-width: 87%;
        height: 500px;
        
    }
    .pesquisar{
        margin-bottom: 50px;
        margin-top: 5px;
        width: 100%;
        
      
    }

    .pesq{
        /*margin-top:30px;*/
        padding: 10px 15px;
        width: 70%;
        height: 40px;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 25px;
        border: none;
        border:solid 2px;
    }

    i{
        margin-left: 20px;
        color:black;
    }

    .btn-abrir-menu1{
        display:block;
        color:black;
        font-size:45px;
        align-self:center;
    }
    .btn-fechar1{
        color:#000000;
        font-size:35px;
        align-self:baseline;

    } 
    .menu-mobile1{
        backdrop-filter: blur(10px);
        border-radius:15px ;
        width:0;
        height:0;
        background:#ffffff48;
        position:absolute;
        top:0;
        right:0;
        transition:.5s;
        display:flex;
        align-items:center;
        justify-content:center;
        text-align:justify;
        overflow:hidden;
        z-index:99;
    }
    .menu-mobile1 nav{
        width:100%;
        
    } 
    .menu-mobile1 nav ul{
        list-style-type:none;
    }
    .menu-mobile1 nav a{
        font-size:20px;
        text-decoration:none;
        color:rgb(0, 0, 0);
        display:block;
        transition:.5s;
        padding:20px;
        padding-left:76px;
    }

    .menu-mobile1 nav a:hover{
        background:rgb(255, 255, 255);
        color:black;
        box-shadow:0 0 20px rgb(0, 0, 0);
        width:60%;
    }
    .menu-mobile1.abrir-menu{
        width:100%;
        height:50vh;
        z-index:99;

    }  
        
        
    .desktop nav{
        display:none;
    }
    .sidebar{
        display: none;
    }
    .pesq5{
        display:none;
    }
    .color-button{
        display:none;
    }

    
}


  






































.sidebar  {
    position: absolute;
    left: -0px; /* Escondido inicialmente */
    width: 17px;
    height: 85%;
    background-color: #ffffff;
    color: white;
    transition: left 0.3s;
    padding: 20px;
}

.sidebar.open {
    width: 470px;
    left: 0; /* Mostra o menu quando aberto */
}

.sidebar toggle-button {
    justify-content: flex-end;
    display:flex;

    
 
}






