body{
    background-color: rgb(255, 254, 248);  
}

*{
    font-family: poppins;
    padding: 0%;
    margin: 0%;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 254, 248);
    width:100%;
    height: 140px;
    
    
}

.header h1{ 
    margin-left: 145px;
    font-size: 3rem;
    color: #14cc1c;
    font-family: poppins;
    font-weight: 700;
    
}

.header nav{
    margin-bottom: 25px;
}

.desktop2{
    margin-top: 23px;
}

.link_nav{
    text-decoration: none;
    color: black;
    font-family: poppins;
    font-weight: 2rem;
    
}

.link_nav:hover{
    color: #14CC1C;
   
}

.dcb_local{
    text-decoration: none;
    background-color: #14cc1c;
    border-radius: 5px;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}
.header nav ul{
   list-style-type: none;
   margin-right: 120px;
   
}
.header nav ul li{
    display: inline-block;
    padding: 0 30px;
    
}
.menu-mobile2{
    display:none;
}
.btn-abrir-menu2{
    display:none;
}
.destaque{
    background-color: #14cc1c;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 7px;
}

.section-inicial{
    height: 750PX;
    width: 90%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 254, 248);
    margin: auto;
}

.parte-textual{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    width: 45%;
    height: 700px;
    font-family: poppins;

}

.btns-cad-ent{
    display: flex;
    justify-content: flex-start;
    column-gap: 25px;
    margin-top: 25px;
    margin-left: 50px;
    width: 600px;
    
 
}

.btns-cad-ent a{
    text-align: center;
    text-decoration: none;
}

.cadastrar{
    background-color: #14cc1c;
    border-radius: 5px;
    color: white;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
}

.entrar{
    border: 1px solid rgba(0, 0, 0, 0.596);
    border-radius: 5px;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 60px;
    color: rgb(0, 0, 0);
}

.parte-textual h1{
    font-size: 3.3rem;
    margin-bottom: 20px;
    margin-left: 50px;
    color: #000000;
}

.parte-textual h2{
    font-size: 1.5rem;
    margin-bottom: 30px;
    margin-left: 50px;
    font-weight: 400;
    color: #000000;
}

.parte-imagens{
    height: 700px;
    width: 55%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.parte-imagens img{
    border-radius: 20px;
    width: 100%;
    height: 95%;
}



/*
.header-nav{
    display:flex;
    justify-content: space-between;
    /*background-color: blue;*/
   /* background-color: rgb(255, 255, 255);
    width:100%;
    padding:10px;
}

.header-nav h1{
    
    margin-left: 50px;
    
}*/

/*.header-nav nav{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 60px;
    
}
*/
/*
.header-nav nav a{
    text-decoration: none;
    color: black;
    
}
.header-nav nav ul{
   list-style-type: none;
   
}
.header-nav nav ul li{
    display: inline-block;
    padding: 0 40px;
    
}*/
/*
.container1{
    text-align: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ae/Mangal_das_Gar%C3%A7as_DSC_8656_%289514030210%29.jpg');
    /*background-image: url('/design/allan.jpg');*/
    /*background-repeat: no-repeat;
    background-size: 1900px 750px;
    /*background-size: cover;*/
    /*background-attachment: fixed ;
    

    height: 620PX;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

/*.header-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: 600px;
    
    
}*/


.cards{
    /*border-radius: 20px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    /*height: 550px;*/
    background-color: #14cc1d;
    color: #ffffff;
    /*padding: 10px 20px;*/
    text-align: center;
    margin-top: 40px;
    
}

.cards hr{
    display: none
}
.cards a{
    text-decoration:none;
    position:absolute;
    align-self:end;
    color:#000000;
    background-color:white;
    border-radius:10px;
    font-weight:1000;
    padding:10px 70px 10px 70px;
    margin-bottom: 20px;
    margin-top: 30px;
}
h1{
    margin-top: 0;
}

.recomendacoes{
    text-align: center;
    background-color: rgb(255, 254, 248);
   
}

.recomendacoes .titulo{
    color: #14CC1C;
    font-weight: 700;
    padding: 30px 0px 30px 0px;
}

.cards1 img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.cards1{
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    margin: 0px 20px 80px 30px;
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 550px;
    box-shadow: rgba(1, 58, 11, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border: 1px solid rgba(18, 19, 18, 0.068);
    transition: 500ms linear;
}

.cards1:hover{
    scale: 1.02;
    box-shadow: rgba(1, 58, 11, 0.247) 0px 20px 25px -5px, rgba(0, 0, 0, 0.185) 0px 10px 10px -5px;
}

.cards1 h1{
    color: #14CC1C;
    font-weight: 700;
    margin-top: 15px;
}

.cards1 p{
    margin: 10px 20px 40px 20px;
    font-weight: 500;
    font-size: 1rem;

}



.cards1 a{
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background-color: #14CC1C;
    border-radius: 10px;
    color: white;
    
}

.cards1 a:hover{
    transform: scale(1.1);

}


.cards2 img{  
    width: 70px;

}


.cards2{
    /*justify-content: space-between;*/
    /*display: inline-block;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 20px;
    text-align: center;
    margin: 80px 20px 80px 30px;
    
   
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    box-shadow: rgba(1, 58, 11, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border: 1px solid rgba(18, 19, 18, 0.068);
    transition: 500ms linear;
}


.cards2 h1{
    color: #000000;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}
    
.cards2 P{
        max-width: 70%;
        max-height: 70px;
        font-size: 0.80rem;
}


.titulo1{
    color: #fff;
}
.titulo2{
    color: #fff;
}
.cad1{
    border-radius: 10px;
    background-color: #14CC1C;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    
    
}
.cad2{
    border-radius: 10px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    
}
.destaque{
    background-color: #14CC1C;
}



.cards2 a{
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background-color: #14CC1C;
    border-radius: 10px;
    color: white;
}

.cards2:hover{
    transform: (1.1);
}


.cards2 p{
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}

.direitos{
    height: 80px;
    font-weight: 1000;
    color: #333;
    margin-top: 20px;
    padding-top: 50px;
    font-size: 1.1rem;
    background-color: #14CC1C;
    text-align: center;
}


@media(max-width: 800px){

    /* parte do header e seção inicial*/

    .section-inicial{
        display: flex;
        flex-direction: column;
        margin: 0%;
        align-items: center;
        width: 100%;
        height: 800px;
       
    }

    .parte-textual{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height: 50%;
    }

    .parte-textual h1{
        font-size: 2.5rem;
        margin: auto;

    }
    .parte-textual h2{
        font-size: 1.3rem;
        margin: 30px 0px 20px 0px;
        width: 80%;
    }

    .parte-imagens{
        margin-top: 100px;
        padding: 0%;
        height: 50%;
        width: 100%;
    }

    .parte-imagens img{
        border-radius: 20px;
        margin: auto;
        height: 100%;
        width: 90%;
    }

    .btns-cad-ent{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
        margin-top: 25px;
        margin-left: 0%;
    }

    .cadastrar{
        background-color: #14cc1c;
        border-radius: 5px;
        color: white;
        padding-left: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 50px;
    }
    
    .entrar{
        border: 1px solid rgba(0, 0, 0, 0.596);
        border-radius: 5px;
        padding-left: 65px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 65px;
        color: rgb(0, 0, 0);
    }

    /*parte do header*/

    .header{
        height: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        
    
    }

    .header h1{
        margin-left: 30px;
        font-size: 2.3rem;
        color: #14cc1c;
        font-family: poppins;
        font-weight: 700;
        
    }

    .btn-abrir-menu2{
        margin-right: 30px;
    }

    .header nav ul li{
        display: inline-block;
        
    }
    .header nav ul{
        list-style-type: none;
        margin-right: 0;
        
     }


    /*Parte dos cards de inicio*/
   .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
   
    }
    .cards hr{
        display: block
    }
    .cards a{
        text-decoration:none;
        position:inherit;
        align-self:center;
        color:#000000;
        background-color:white;
        border-radius:20px;
    }

    .cards2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        height: 300px;
        margin: 50px 0px 0px 0px;

    }

    .cards2 p{
        font-size: 0.95rem;
        width: 70%;
    }

    .cards2 h1{
        font-size: 1.5rem;
        width: 70%;
    }

    /*Menu Mobile*/

    .btn-abrir-menu2{
        display:block;
        color:#000000;
        font-size:45px;
        align-self:center;
    }
    .btn-fechar2{
        color:#000000;
        font-size:35px;
        color:#000000;
        font-size:35px;
        align-self:baseline;
    
    }
    .btn-fechar2 i{
        display:block;
        position:absolute;
    } 
    .menu-mobile2{
        backdrop-filter:blur(10px);
        border-radius:15px;
        width:0;
        height:0;
        background:#ffffff48;
        position:absolute;
        top:0;
        right:0;
        transition:.5s;
        display:flex;
        align-items:center;
        justify-content:center;
        text-align:justify;
        overflow:hidden;
        z-index:99;
    }
    .menu-mobile2 nav{
        width:100%;
    } 
    .menu-mobile2 nav ul{
        display: flex;
        flex-direction: column;
        list-style-type:none;
    }
    .menu-mobile2 nav a{
        font-size:20px;
        text-decoration:none;
        color:rgb(0, 0, 0);
        display:block;
        transition:.5s;
        padding:20px;
        padding-left:125px;
    }
    
    .menu-mobile2 nav a:hover{
        background:rgb(255, 255, 255);
        color:black;
        box-shadow:0 0 20px rgb(0, 0, 0);
        width:90%;
    }
    .menu-mobile2.abrir-menu2{
        width:100%;
        height:50vh;
        z-index:99;
    }  
    .desktop2 nav{
        display:none;
    }

    /*Parte dos cards de locais mais visitados*/

    .recomendacoes{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

    }

    .recomendacoes .titulo{
        color: #14CC1C;
        font-weight: 700;
        font-size: 1.3rem;
        padding: 30px 0px 30px 0px;
    }

    .cards1{

        width: 85%;
        height: 450px;
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        margin: 0px 20px 80px 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(1, 58, 11, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        border: 1px solid rgba(18, 19, 18, 0.068);
        transition: 500ms linear;

    }

    .cards1 img{
        width: 100%;
        height: 190px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-bottom: 10px;
    }
    
    .cards1:hover{
        scale: 1.02;
        box-shadow: rgba(1, 58, 11, 0.247) 0px 20px 25px -5px, rgba(0, 0, 0, 0.185) 0px 10px 10px -5px;
    }
    
    .cards1 h1{
        color: #14CC1C;
        font-weight: 700;
        font-size: 1.3rem;
        margin: 0px 0px 0px 0px;
    }
    
    .cards1 p{
        margin: 10px 0px 25px 0px;
        padding: 0px 17px 0px 17px;
        font-weight: 400;
        font-size: 0.87rem;
    
    }
    
    .cards1 a{
        text-decoration: none;
        padding: 5px 65px 5px 65px;
        margin: 0px 0px 0px 0px;
        background-color: #14CC1C;
        border-radius: 10px;
        color: white;
    }
    
    .cards1 a:hover{
        transform: scale(1.1);
    
    } 
    
@media(max-width: 360px){

    .recomendacoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .recomendacoes .titulo{
        color: #14CC1C;
        font-weight: 700;
        font-size: 1.3rem;
        padding: 30px 0px 30px 0px;
    }

    .cards1{

        width: 85%;
        height: 450px;
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        margin: 0px 20px 80px 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(1, 58, 11, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        border: 1px solid rgba(18, 19, 18, 0.068);
        transition: 500ms linear;

    }

    .cards1 img{
        width: 100%;
        height: 190px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-bottom: 10px;
    }
    
    .cards1:hover{
        scale: 1.02;
        box-shadow: rgba(1, 58, 11, 0.247) 0px 20px 25px -5px, rgba(0, 0, 0, 0.185) 0px 10px 10px -5px;
    }
    
    .cards1 h1{
        color: #14CC1C;
        font-weight: 700;
        font-size: 1.3rem;
        margin: 0px 0px 0px 0px;
    }
    
    .cards1 p{
        margin: 10px 0px 15px 0px;
        padding: 0px 17px 0px 17px;
        font-weight: 400;
        font-size: 0.87rem;
    
    }
    
    .cards1 a{
        text-decoration: none;
        padding: 5px 65px 5px 65px;
        margin: 0px 0px 0px 0px;
        background-color: #14CC1C;
        border-radius: 10px;
        color: white;
    }
    
    .cards1 a:hover{
        transform: scale(1.1);
    
    } 




}

@media(max-width: 350px){
    .recomendacoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .recomendacoes .titulo{
        color: #14CC1C;
        font-weight: 700;
        font-size: 1.3rem;
        padding: 30px 0px 30px 0px;
    }

    .cards1{

        width: 85%;
        height: 450px;
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        margin: 0px 20px 80px 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(1, 58, 11, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        border: 1px solid rgba(18, 19, 18, 0.068);
        transition: 500ms linear;

    }

    .cards1 img{
        width: 100%;
        height: 165px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-bottom: 10px;
    }
    
    .cards1:hover{
        scale: 1.02;
        box-shadow: rgba(1, 58, 11, 0.247) 0px 20px 25px -5px, rgba(0, 0, 0, 0.185) 0px 10px 10px -5px;
    }
    
    .cards1 h1{
        color: #14CC1C;
        font-weight: 700;
        font-size: 1.3rem;
        margin: 0px 0px 0px 0px;
    }
    
    .cards1 p{
        margin: 10px 0px 20px 0px;
        padding: 0px 17px 0px 17px;
        font-weight: 400;
        font-size: 0.87rem;
    
    }
    
    .cards1 a{
        text-decoration: none;
        padding: 5px 65px 5px 65px;
        margin: 0px 0px 0px 0px;
        background-color: #14CC1C;
        border-radius: 10px;
        color: white;
    }
    
    .cards1 a:hover{
        transform: scale(1.1);
    
    } 

    /* Parte inicial e header*/

    .section-inicial{
        display: flex;
        flex-direction: column;
        margin: 0%;
        align-items: center;
        width: 100%;
        height: 800px;
       
    }

    .parte-textual{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height: 50%;
    }

    .parte-textual h1{
        font-size: 2rem;
        margin: auto;

    }
    .parte-textual h2{
        font-size: 1rem;
        margin: 30px 0px 20px 0px;
        width: 80%;
    }

    .parte-imagens{
        margin-top: 80px;
        padding: 0%;
        height: 50%;
        width: 100%;
        
    }

    .parte-imagens img{
        border-radius: 20px;
        margin: auto;
        height: 90%;
        width: 90%;
        
    }

    .btns-cad-ent{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
        margin-top: 25px;
        margin-left: 0%;
    }

    .cadastrar{
        background-color: #14cc1c;
        border-radius: 5px;
        color: white;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 40px;
    }
    
    .entrar{
        border: 1px solid rgba(0, 0, 0, 0.596);
        border-radius: 5px;
        padding-left: 55px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 55px;
        color: rgb(0, 0, 0);
    }

    /*parte do header*/

    .header{
        height: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        
    
    }

    .header h1{
        margin-left: 30px;
        font-size: 2rem;
        color: #14cc1c;
        font-family: poppins;
        font-weight: 700;
        
    }

    .btn-abrir-menu2{
        margin-right: 30px;
    }

    .header nav ul li{
        display: inline-block;
        
    }


}
    
}


.container1 .cadrar{
    text-decoration: none;
    text-align: center;
    padding: 10px 70px 10px 70px;
    background-color: #14CC1C;
    border-radius: 10px;
    width: 100px;
       
   

}

.container1 .cadrar1{
    text-align: center;
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background-color: #00000096;
    border-radius: 10px;
    color: white;
    width: 100px;

}

.container1 a{
    color: #fff;
    text-decoration: none;
}

