/*body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);  
}*/
.cards{

    margin-top: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: auto;
    background-color: #14cc1c;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    
}
h1{
    margin-top: 0;
}

*{
    font-family: poppins;
}

.recomendacoes{
    text-align: center;
}

.recomendacoes .titulo{
    color: #14CC1C;
    font-weight: 700;
    padding: 30px 0px 30px 0px;
}

.cards1 img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.cards1{
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    margin: 0px 20px 80px 30px;
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 550px;
    box-shadow: rgba(1, 58, 11, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border: 1px solid rgba(18, 19, 18, 0.068);
    transition: 500ms linear;
}

.cards1:hover{
    scale: 1.02;
    box-shadow: rgba(1, 58, 11, 0.247) 0px 20px 25px -5px, rgba(0, 0, 0, 0.185) 0px 10px 10px -5px;
}

.cards1 h1{
    color: #14CC1C;
    font-weight: 700;
}

.cards1 p{
    margin: 10px 20px 40px 20px;
    font-weight: 400;
    font-size: 1rem;

}



.cards1 a{
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background-color: #14CC1C;
    border-radius: 10px;
    color: white;
}

.cards1 a:hover{
    transform: scale(1.1);

}


























.cards2 img{  
    width: 70px;
   
 
}


.cards2{
    justify-content: space-between;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    margin: 0px 20px 80px 30px;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 300px;
    box-shadow: rgba(1, 58, 11, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border: 1px solid rgba(18, 19, 18, 0.068);
    transition: 500ms linear;


}

.cards2 h1{
    color: #14CC1C;
    font-weight: 700;
}


.container1{
    text-align: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ae/Mangal_das_Gar%C3%A7as_DSC_8656_%289514030210%29.jpg');
    background-repeat: no-repeat;
    background-size: 1900px 590px;
    background-attachment: fixed ;
}
.titulo1{
    color: #fff;
}
.titulo2{
    color: #fff;
}
.cad1{
    border-radius: 10px;
    background-color: #14CC1C;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    
    
}
.cad2{
    border-radius: 10px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    
}
.destaque{
    background-color: #14CC1C;
}








.cards2 a{
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background-color: #14CC1C;
    border-radius: 10px;
    color: white;
}

.cards2:hover{
    transform: (1.1);
}


.cards2 p{
    font-size: 20px;
    color: #14CC1C;
    font-weight: 700;
}

.direitos{
    font-weight: 1000;
    color: #333;
    margin-top: 20px;
    padding: 10px;
    text-size-adjust: 50px;
    background-color: #14CC1C;
    text-align: center;
}


@media(max-width: 800px){

    .cards{
        display: flex;
        flex-direction: column;
  

    }

    .cards2{
        display: flex;
        flex-direction: column;
        width: 75%;  

    }



}

     





.container1 .cadrar{
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background-color: #14CC1C;
    border-radius: 10px;
    color: white;
    border-right: 400px;

}

.container1 .cadrar1{
    text-align: center;
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background-color: #00000096;
    border-radius: 10px;
    color: white;

}

.container1 a{
    color: #fff;
    text-decoration: none;
}

