/*body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);  
}*/


.header-nav{
    display:flex;
    justify-content: space-between;
    /*background-color: blue;*/
    background-color: white;
    width:100%;
    padding:10px;

    & h1{
        margin-left: 50px;
    }
}

.header-nav nav{
    /*align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 60px;*/
    
}

.header-nav nav a{
    text-decoration: none;
    color: black;
    
}
.header-nav nav ul{
   list-style-type: none;
   
}
.header-nav nav ul li{
    display: inline-block;
    padding: 0 40px;
    
}

.container1{
    text-align: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ae/Mangal_das_Gar%C3%A7as_DSC_8656_%289514030210%29.jpg');
    background-repeat: no-repeat;
    /*background-size: 1900px 650px;*/
    background-size: cover;
    background-attachment: fixed ;

    height: 620PX;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-conteudo{
    margin: auto;
    
    
}


.cards{

    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #14cc1c;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    margin-top: 40px;
    
}
.cards a{
    text-decoration:none;
    position:absolute;
    align-self:end;
    color:#000000;
    background-color:white;
    border-radius:10px;
    font-weight:1000;
    padding:10px 70px 10px 70px;
}
h1{
    margin-top: 0;
}

*{
    font-family: poppins;
}

.recomendacoes{
    text-align: center;
}

.recomendacoes .titulo{
    color: #14CC1C;
    font-weight: 700;
    padding: 30px 0px 30px 0px;
}

.cards1 img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.cards1{
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    margin: 0px 20px 80px 30px;
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 550px;
    box-shadow: rgba(1, 58, 11, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border: 1px solid rgba(18, 19, 18, 0.068);
    transition: 500ms linear;
}

.cards1:hover{
    scale: 1.02;
    box-shadow: rgba(1, 58, 11, 0.247) 0px 20px 25px -5px, rgba(0, 0, 0, 0.185) 0px 10px 10px -5px;
}

.cards1 h1{
    color: #14CC1C;
    font-weight: 700;
}

.cards1 p{
    margin: 10px 20px 40px 20px;
    font-weight: 1000;
    font-size: 1rem;

}



.cards1 a{
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background-color: #14CC1C;
    border-radius: 10px;
    color: white;
}

.cards1 a:hover{
    transform: scale(1.1);

}


























.cards2 img{  
    width: 70px;

}


.cards2{
    /*justify-content: space-between;*/
    /*display: inline-block;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 20px;
    text-align: center;
    margin: 80px 20px 80px 30px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    box-shadow: rgba(1, 58, 11, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border: 1px solid rgba(18, 19, 18, 0.068);
    transition: 500ms linear;

    & h1{
        color: #000000;
        font-weight: 700;
    }
    
    & P{
        max-width: 70%;
   
        font-size: 0.80rem;
    }
    

}







.titulo1{
    color: #fff;
}
.titulo2{
    color: #fff;
}
.cad1{
    border-radius: 10px;
    background-color: #14CC1C;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    
    
}
.cad2{
    border-radius: 10px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    
}
.destaque{
    background-color: #14CC1C;
}








.cards2 a{
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background-color: #14CC1C;
    border-radius: 10px;
    color: white;
}

.cards2:hover{
    transform: (1.1);
}


.cards2 p{
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}

.direitos{
    font-weight: 1000;
    color: #333;
    margin-top: 20px;
    padding: 10px;
    text-size-adjust: 50px;
    background-color: #14CC1C;
    text-align: center;
}


@media(max-width: 800px){
    
   .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
      & a{
        text-decoration:none;
        position:inherit;
        align-self:center;
        color:#000000;
        background-color:white;
        border-radius:20px;
      }
    }

    .cards2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        height: 300px;

    }

    .cards2 p{
        font-size: 0.95rem;
        width: 70%;
    }

    .cards2 h1{
        font-size: 1.5rem;
        width: 70%;
    }

    .menu-mobile{
        background-color: black;
        height:25vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 50%;
    }
    .menu-mobile nav ul{
        text-align: start;
    }
    .menu-mobile nav ul li a{
        color: #14CC1C;
        font-size: 20px;
        font-weight: 300;
        padding: 0px 4%;
        display: flex;
        flex-direction: column;
    }
    .menu-mobile nav ul li a:hover{
        background-color: #fff;
    }
    
}

@media(max-width: 800px){

    .recomendacoes{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .recomendacoes .titulo{
        color: #14CC1C;
        font-weight: 700;
        font-size: 1.3rem;
        
        padding: 30px 0px 30px 0px;
    }

    .cards1{

        width: 85%;
        height: 395px;

      

        display: inline-block;
        border-radius: 20px;
        text-align: center;
        margin: 0px 20px 80px 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(1, 58, 11, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        border: 1px solid rgba(18, 19, 18, 0.068);
        transition: 500ms linear;

    }

    .cards1 img{
        width: 100%;
        height: 160px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-bottom: 10px;
    }
    
    .cards1:hover{
        scale: 1.02;
        box-shadow: rgba(1, 58, 11, 0.247) 0px 20px 25px -5px, rgba(0, 0, 0, 0.185) 0px 10px 10px -5px;
    }
    
    .cards1 h1{
        color: #14CC1C;
        font-weight: 700;
        font-size: 1.3rem;
    }
    
    .cards1 p{
        margin: 10px 20px 15px 20px;
        font-weight: 400;
        font-size: 0.87rem;
    
    }
    
    .cards1 a{
        text-decoration: none;
        padding: 5px 65px 5px 65px;
       
        background-color: #14CC1C;
        border-radius: 10px;
        color: white;
    }
    
    .cards1 a:hover{
        transform: scale(1.1);
    
    }   
}


     





.container1 .cadrar{
    text-decoration: none;
    text-align: center;
    padding: 10px 70px 10px 70px;
    background-color: #14CC1C;
    border-radius: 10px;
       
   

}

.container1 .cadrar1{
    text-align: center;
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    background-color: #00000096;
    border-radius: 10px;
    color: white;

}

.container1 a{
    color: #fff;
    text-decoration: none;
}

